
@{
    ViewData["Title"] = "DaftarRental";
}

<div class="dropdown">
    <button class="dropdown">Daftar Rental</button>
    <div class="dropdown-menu">
        <a href="https://localhost:44341/customers"></a>
        <a href="https://localhost:44341/genders"></a>
        <a href="https://localhost:44341/jaminans"></a>
        <a href="https://localhost:44341/jeniskendaraans"></a>
        <a href="https://localhost:44341/peminjamans"></a>
        <a href="https://localhost:44341/pengembalians"></a>
    </div>
</div>

